nav{
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.logo{
  height: 2em;
  margin-bottom: 15px;
  padding: 28px 5px;
}
.mat-tab-links {
  margin-top: 20px;
}
