<div class="wrapper">
  <div class="full-col">
    <div class="iclass"><br><br>
      <h1>Data-driven, human-focused philanthropy— <br>powered by Google</h1>
      <h3>We bring the best of Google to innovative nonprofits that <br>are committed to creating a world that works for everyone.</h3>
      <a href="" class="d2-link">Lorem iehenderit doloremque assumenda repudiandae magnam beatae inventore saepe.</a>

    </div>

    <div class="gridDiv">
        <div><img class="imgStyle" src="/assets/now.JPG" alt=""></div>
<!------d2-link means div two link-->
        <div class="sideText">
          <p>EDUCATION</p>
          <h4>Lorem iehenderit doloremque assumenda repudiandae magnam beatae invdddddddddddddddddddddddddddddddddddddddentore saepe.</h4>
          <a class="d2-link" href="#">kfjerejljelkjklkjfejfklejkjljgjrlgrjgrjlgjrljgklrlgk</a>
        </div>

    </div>
<!--------End of first gridDiv-->
    <div class="gridDiv">

      <div class="sideText">
        <p>TELECOMMUNICATION</p>
        <h4>Lorem iehenderit doloremque assumenda repudiandae magnam beatae invdddddddddddddddddddddddddddddddddddddddentore saepe.</h4>
        <a class="d2-link" href="#">kfjerejljelkjklkjfejfklejkjljgjrlgrjgrjlgjrljgklrlgk</a>
      </div>
      <div><img class="imgStyle" src="/assets/now.JPG" alt=""></div>
  </div>

  <!--------End of first gridDiv-->
  <div class="gridDiv">
    <div><img class="imgStyle" src="/assets/now.JPG" alt=""></div>
    <div class="sideText">
      <p>TELECOMMUNICATION</p>
      <h4>Lorem iehenderit doloremque assumenda repudiandae magnam beatae invdddddddddddddddddddddddddddddddddddddddentore saepe.</h4>
      <a class="d2-link" href="#">kfjerejljelkjklkjfejfklejkjljgjrlgrjgrjlgjrljgklrlgk</a>
    </div>
</div><br>
<hr/><br>
<div class="peopleGrid">
  <img src="/assets/people.JPG" class="imgStyle" alt="">
  <div class="peopleText">
    <h1>Working together to apply AI to Society <br>challenges</h1>
    <p>At Google, we believe that artificial intelligence (AI) can meaningfully improve people’s lives, and that the biggest impact will come when everyone can access it. That’s why Google.org is excited to support organizations that are using the power of AI to address social and environmental challenges.</p>
  </div>
</div>

<section>
  <div class="">
    <h1 class="center">Our areas of focus</h1>
    <p class="center">We want a world that works for everyone—and we believe technology and innovation can move the needle in three key areas.</p>
  </div>
  <div class="eachDiv">
    <div>
      <img class="imgStyle" src="/assets/each.JPG" alt="">
      <h4>sfffffffffffffffffsffffffffffff</h4>
      <a href="#" class="d2-link">sffffffffffffffffffffffffffffffffsf</a>
    </div>
    <div>
      <img class="imgStyle" src="/assets/each.JPG" alt="">
      <h4>sfffffffffffffffffsffffffffffff</h4>
      <a href="#" class="d2-link">sffffffffffffffffffffffffffffffffsf</a>
    </div>
    <div>
      <img class="imgStyle" src="/assets/each.JPG" alt="">
      <h4>sfffffffffffffffffsffffffffffff</h4>
      <a href="#" class="d2-link">sffffffffffffffffffffffffffffffffsf</a>
    </div>
  </div>
</section>
  </div>
</div>
